// Fonts
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,400,500,600,700&display=swap");
@font-face {
    font-family: "Aleo";
    src: url("./fonts/aleo-light-webfont.woff2") format("woff2"),
           url("./fonts/aleo-light-webfont.woff") format("woff"),
           url("./fonts/aleo-regular-webfont.woff2") format("woff2"),
           url("./fonts/aleo-regular-webfont.woff") format("woff"),
           url("./fonts/aleo-bold-webfont.woff2") format("woff2"),
           url("./fonts/aleo-bold-webfont.woff") format("woff");
   }
$text-font: "Josefin Sans", sans-serif;
$interface-font: "Aleo", sans-serif;
// Colors
$blue: #5474fd;
$soft-white: #e8e8e8;
$white: #fff;
$md-white: #fefefe;
// Mixins
@mixin button {
    color: $white;
    background-color:$blue;
    background-image: url(./images/button-img.svg);
    background-repeat: no-repeat;
    background-position-x: -110px;
    height: 60px !important;
    width: 225px;
    border: none;
    font-family: $interface-font;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.065em;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
@mixin title {
    font-family: $interface-font;
    font-size: 36px;
    color: $white;
    font-weight: 600;
}
@mixin paragraph {
    font-family: $text-font;
    font-size: 16px;
    color: $soft-white;
    font-weight: 100;
    letter-spacing: -0.02em;
    line-height: 1.67em;
    margin-bottom: 40px;
}
@mixin p-title {
    font-family: $text-font;
    font-size: 20px;
    color: $md-white;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: -0.03em;
    margin-bottom: 19px;
}
@mixin p-title-top{
    font-family: $text-font;
    font-size: 20px;
    color: $soft-white;
    font-weight: 300;
    margin-bottom: 22px;
}

@mixin background-fluid{
    background-color: #cccccc;
    background-position-y: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin button-hov{
    background-position-x: 110px;
    transition: all 0.3s ease-in-out;
}

@mixin button-act{
    background-position-x: 0px;
    background-color: rgb(96, 131, 228);
    transition: all 0.1s ease-in-out;
}

html{scroll-behavior:smooth};